body { 
    font-family: Comfortaa;
    font-size: 32px;
    background: url('../img/фон_билеты.svg') no-repeat;
    background-position: top;
    overflow-x: hidden;
    height: 1833px;
    font-style: 32px;
}

.medu {
    color: white;
    font-size: 48px;
    margin-top: 84px;
    margin-left: 840px;
}

.text {
    margin-top: 182px;
    text-align: center;
}

/* билет*/

.tickets {
    display: flex;
    margin: 200px 300px 100px 300px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ticket {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 84px 86px;
    box-sizing: border-box;
    width: 608px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.ticket p {
    margin-bottom: 62px;
    text-align: center;
}

.ticket button {
    margin: 0 auto;
}


.button {
    font-family: Comfortaa;
    font-size: 32px;
    border-radius: 20px;
    border: none;
    color: #fff;
    text-decoration: none;
    user-select: none; 
    background: #4E88A6;
    padding: 11px 44px; 
    width: 228px;
    margin: 0 auto;
}

/* подвал */

.onas {
    position: absolute;
    top: 1709px;
    left: 400px;
}

.garant {
    position: absolute;
    top: 1709px;
    left: 622px;
}

.cont {
    position: absolute;
    top: 1709px;
    left: 924px;
}

.yslyg {
    position: absolute;
    top: 1709px;
    left: 1233px;
}

.user {
    position: absolute;
    top: 1680px;
    left: 1470px;
}