body { 
    font-family: Comfortaa;
    font-size: 32px;
    background: url('../img/фон_билеты.svg') no-repeat;
    background-position: top;
    overflow-x: hidden;
    height: 1833px;
}

.medu {
    color: white;
    font-size: 48px;
    margin-top: 84px;
    margin-left: 840px;
}

.text {
    position: absolute;
    top: 320px;
    left: 307px;
}

/* билет 2+1 */

.biletone {
    position: absolute;
    top: 556px;
    left: 307px;
}

.textone {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 84px;
    left: 91px;
}

.zenaone {
    position: absolute;
    top: 190px;
    left: 255px;
}

button {
    position: absolute;
    top: 292px;
    left: 150px;
    font-family: Comfortaa;
    font-size: 32px;
    border-radius: 20px;
    border: none;
    color: #fff;
    text-decoration: none;
    user-select: none; 
    background: #4E88A6;
    padding: 11px 44px; 
}

/* билет 2+2 */

.biletdva {
    position: absolute;
    top: 556px;
    left: 1012px;
}

.textdva {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 84px;
    left: 91px;
}

.zenadva {
    position: absolute;
    top: 190px;
    left: 255px;
}

button {
    position: absolute;
    top: 292px;
    left: 150px;
    font-family: Comfortaa;
    font-size: 32px;
    border-radius: 20px;
    border: none;
    color: #fff;
    text-decoration: none;
    user-select: none; 
    background: #4E88A6;
    padding: 11px 44px; 
}

/* билет детский */

.bilettri {
    position: absolute;
    top: 1068px;
    left: 307px;
}

.texttri {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 84px;
    left: 133px;
}

.zenatri {
    position: absolute;
    top: 190px;
    left: 261px;
}

button {
    position: absolute;
    top: 292px;
    left: 150px;
    font-family: Comfortaa;
    font-size: 32px;
    border-radius: 20px;
    border: none;
    color: #fff;
    text-decoration: none;
    user-select: none; 
    background: #4E88A6;
    padding: 11px 44px; 
}

/* билет взрослый */

.biletche {
    position: absolute;
    top: 1068px;
    left: 1012px;
}

.textche {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 84px;
    left: 126px;
}

.zenache {
    position: absolute;
    top: 190px;
    left: 262px;
}

button {
    position: absolute;
    top: 292px;
    left: 150px;
    font-family: Comfortaa;
    font-size: 32px;
    border-radius: 20px;
    border: none;
    color: #fff;
    text-decoration: none;
    user-select: none; 
    background: #4E88A6;
    padding: 11px 44px; 
}


/* подвал */

.onas {
    position: absolute;
    top: 1709px;
    left: 400px;
}

.garant {
    position: absolute;
    top: 1709px;
    left: 622px;
}

.cont {
    position: absolute;
    top: 1709px;
    left: 924px;
}

.yslyg {
    position: absolute;
    top: 1709px;
    left: 1233px;
}

.user {
    position: absolute;
    top: 1680px;
    left: 1470px;
}